@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

html{
    background-color: rgb(215, 244, 224);
}

#container{
    display: flex;
    flex-direction: column;
}

#video {
    border-radius: 10px;
    margin: 0 auto;
}

.buttons{
    margin: 0 auto;
}

#play-btn, #pause-btn, #mute-btn, #vol-btn-plus, #vol-btn-less {
    margin: 10px;
    font-size: 30px;
    color: rgb(4, 70, 120);
}

